@import "../../../Styles/common.scss";

.MenuContent1 {
	@include center;
	font-weight: 600;
	font-size: 13px;
	z-index: 99;
	position: absolute;

	.MenuContentContainer {
		display: flex;
		justify-content: space-between;
		height: 100%;
		margin: 0 190px;
		padding: 30px;
		background-color: $orange;
		width: 1150px;

		.MenuContentBox {
			display: flex;
			flex-direction: column;
			height: 100%;

			ul {
				display: flex;
				height: 100%;

				li {
					margin: 0 10px 5px 0;
					width: 200px;
					line-height: 20px;

					&:hover {
						color: $white;
						cursor: pointer;
					}
				}
			}
			.upperList {
				margin-bottom: 20px;

				a {
					color: $black;

					&:hover {
						color: $white;
					}
				}
			}
			.lowerList {
				ul {
					display: flex;
					flex-direction: column;
				}
			}
		}

		.MenuBanner {
			.bannerImg {
				width: 416px;
				height: 140px;
				background-image: url("https://www.t2tea.com/on/demandware.static/-/Sites-storefront_t2/default/dw45a78677/images/content/mega-tile-tea-finder.jpg");
				padding: 20px;
			}

			.bannerTitle {
				font-size: 30px;
				font-weight: 600;
				line-height: 1;
			}

			.goToPageIcon {
				width: 33px;
				height: 33px;
				// background-image: url("https://www.t2tea.com/on/demandware.static/-/Library-Sites-T2SharedLibrary/default/dw3ee1d9c1/images/content/circle-arrow-down-black.svg");
				transform: rotate(270deg);
				margin-top: 10px;
			}
		}
	}
}
