@import "./../../Styles/common.scss";

.contentCard {
  padding: 0 15px 80px;
  margin: 0 auto;
  margin-top: 65px;
  max-width: 1140px;
  height: 100%;

  .cardImg {
    width: 349px;
    height: 233px;
    margin: 0 auto;
  }
  .cardTitle {
    margin: 0px 0px 20px;
    padding: 15px 0px 0px;
    font-size: 20px;
    font-weight: 800;
    width: 349px;
    height: 35px;
    text-align: left;
  }
  .cardText {
    width: 348px;
    font-size: 18px;
    color: $orange;
    margin-bottom: 15px;
    text-align: left;
  }
  .cardSubText {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: left;
  }
}
